@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

h1 {
    text-align: center;
    font-size: 60px;
    font-family: Gochi Hand, sans-serif;
}

.container {
    width: 80%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 0 0 31.3%;
    margin: 1%;
}

.item img {
    width: 100%;
    object-fit: cover;
    height: 350px;
}

.item p {
    font-family: Helvetica;
    text-align: center;
}

@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
    }
}